.card {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 300px;
    background-color: rgb(165, 174, 182);
    border: 2px solid black;
    border-radius: 20px;
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.boton {
    padding: 0;
    width: 50px;
    height: 30px;
}

h2 {
    font-weight: bold;
    font-size: 30px;
}

.badge {
    font-size: 20px;
    margin: 20px 0;
}

.buttons-container {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.prev,
.next {
    width: 25px;
    height: 25px;
}

.next {
    transform: rotate(180deg);
}

.character-name {
    margin: 15px 0;
}

.character-img {
    border: 2px solid rgb(13, 132, 161);
    border-radius: 50%;
}

.character-img:hover {
    transform: scale(1.1);
    transition-duration: 1s;
    cursor: pointer;
}